.header {
  background-color: #1f2937;
  color: white;
  height: 500px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}
.top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 0 400px;
}
.nav-bar {
  display: flex;
  gap: 20px;
}
li {
  list-style: none;
}
a {
  color: #e5e7eb;
  text-decoration: none;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 400px;
}
h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  font-weight: 900;
}
.hero p {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  color: #e5e7eb;
}
.info {
  width: 400px;
}
.image-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: #636363;
  height: 220px;
}
button {
  padding: 8px 16px;
  background-color: #3382f6;
  border: none;
  color: #e5e7eb;
  font-size: 18px;
  border-radius: 8px;
}
